@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300&display=swap');
body{
    background-image: url( ../hope/images/akan1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif;
}
.jumbotron{
    font-weight: 200;
    color: rgb(177, 0, 74);
    background-image: url(../hope/images/akan4.jpg);
}
h1{
    text-align: center;
    color: rgb(226, 43, 98);
}
.form-group{
    float: center;
}
h1 {
    text-align: center;
    color: rgb(255, 0, 106);
    padding: 2px;
    background-color: rgb(201, 196, 190);
}
p {
    color: rgb(255, 0, 128);
    padding: 2px;
    background-color: rgb(222, 135, 161);
}
h2{
    color: rgb(255, 0, 157);
    padding: 2px;
    background-color: rgb(184, 222, 135);
}
h3 {
    color: rgb(41, 48, 40);
}
.errormsg{
    color: red;
}
.container {
    background-color: slategrey;
    padding: 5px;
}