@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300&display=swap');
body{
    background-image: url( ../hope/images/akan1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif;
}
.jumbotron{
    font-weight: 200;
    color: rgb(0, 32, 177);
    background-image: url(../hope/images/akan2.jpg);
}